<div class="container-fluid" (window:resize)="onWindowResize($event)">

  <!-- handset UI -->
  <div id="handsetNav" class="row" *ngIf="isMobile">
    <div class="well well-sm">
      <div class="col-md-4">
        <div class="btn-group">
          <a tabindex="-1" class="navbar-brand" href="#" aria-hidden="true">Brennan B2</a>
        </div>
        <div class="btn-group pull-right btn-group-right">

          <a id="selectedPanel" tabindex="0" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false" aria-label="Main Navigation - Now Playing Selected">
            Now Playing <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(0)">Now Playing</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(1)">Search</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(2)">vTuner</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(3)">Playlists</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(4)">CD</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(5)">Upload</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(6)">Presets</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(7)">Album</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(8)">Artist</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(9)">Youtube</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(10)">Settings</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(11)">USB</a></li>
          </ul>
          <a tabindex="-1" href="#" role="button" class="btn btn-default" onclick="panelBackFunction()">Back</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <brennan-now-playing></brennan-now-playing>
      <div class="well well-sm">
        <brennan-actions></brennan-actions>
      </div>
    </div>
    <div class="col" *ngIf="!isMobile">
      <div class="well well-sm">
        <brennan-search-panel></brennan-search-panel>
      </div>
    </div>
    <div class="col" *ngIf="!isMobile">
      <div class="well well-sm">
        <brennan-artist-panel></brennan-artist-panel>
      </div>
      <div class="well well-sm">
        <brennan-albums-panel></brennan-albums-panel>
      </div>
    </div>
  </div>

  <!-- Rename Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 id="renameTitle" class="modal-title">Rename Track</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="renameValue" type="text" class="form-control" value="Initial Track Name">
          </div>
          <div id="renameArtist" class="form-group">
            <label for="renameSecondValue">Artist</label>
            <input id="renameSecondValue" type="text" class="form-control" value="Parent Artist">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="renameOKFunction()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Playlist Mix Modal -->
  <div id="mixModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="mixTitle" class="modal-title">Combine Playlists</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" id="mixMenu1" data-toggle="dropdown" href="#">Add
              <span class="caret"></span></a>
            <ul class="dropdown-menu" id="mixModeDropdownUl" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="pickMode(0)">Append</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="pickMode(1)">Subtract</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="pickMode(2)">Merge</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" id="mixMenu2" data-toggle="dropdown" href="#">Red
              <span class="caret"></span></a>
            <ul class="dropdown-menu" id="mixSourceDropdownUl">
              <li><a href="#">Red</a></li>
              <li><a href="#">Orange</a></li>
            </ul>
          </div>
          <div id="mixText">to Green</div>
          <div>
            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" id="mixMenu3" data-toggle="dropdown" href="#">Red
                <span class="caret"></span></a>
              <ul class="dropdown-menu" id="mixDestDropdownUl">
                <li><a href="#">Red</a></li>
                <li><a href="#">Orange</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="mixOKFunction()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Playlist Modal -->
  <div id="newPlaylistModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create a New Playlist</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="newPlaylistValue" type="text" class="form-control" placeholder="Playlist Name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="newPlaylistOKFunction()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Item Modal -->
  <div id="searchItemModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="searchItemTitle" class="modal-title">Search Item</p>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="searchItemDeleteButton()">Delete</button>
          <button type="button" class="btn btn-default btn-block" onclick="searchItemAddButton()">Add To Playlist</button>
          <button type="button" class="btn btn-default btn-block" onclick="searchItemRenameButton()">Rename</button>
          <button type="button" class="btn btn-default btn-block artButton" onclick="searchItemArt()">Get Art
            (Musicbrainz)</button>
          <button type="button" class="btn btn-default btn-block artButton" onclick="searchItemArt2()">Get Art (Amazon)</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <!--					<button type="button" class="btn btn-default">OK</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Album Art Modal -->
  <div id="albumArtModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="albumArtTitle">Album Art Search <span id="artSearching"> <img class="fit" src="assets/images/ajax-loader.gif"></span></p>
          <p id="albumArtArtist"></p>
          <p id="albumArtAlbum"></p>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <tbody id="albumArtResultsTable"></tbody>
          </table>
          <p id="albumArtBottomLine"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Playlist Item Modal -->
  <div id="playlistItemModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="playlistItemTitle" class="modal-title">Playlist Item</p>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemDeleteButton()">Delete</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemStartButton()">Move to start</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemEndButton()">Move to end</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemUpButton()">Move up</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemDownButton()">Move down</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Finished</button>
          <!--					<button type="button" class="btn btn-default">OK</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- vTuner Search Item Menu Modal -->
  <div id="vTunerSearchMenuModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="vTunerSearchMenuTitle" class="modal-title">Search Item</p>
        </div>
        <div class="modal-body" id="vTunerSearchMenuBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- vTuner Item Menu Modal -->
  <div id="vTunerItemMenuModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="vTunerItemMenuTitle" class="modal-title">Search Item</p>
        </div>
        <div class="modal-body" id="vTunerItemMenuBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tone Control Modal -->
  <div id="toneModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">Tone Control</p>
        </div>
        <div class="modal-body">
          <h3>Bass</h3>
          <input type="range" title="Bass" name="bassSlider" id="bassSlider" min="-6" max="6" value="0">
          <h3>Treble</h3>
          <input type="range" title="Treble" name="trebleSlider" id="trebleSlider" min="-6" max="6" value="0">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Are You Sure Modal -->
  <div id="areYouSureModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4><br />
          <p id="areYouSureTitle" class="modal-title">Name</p><br />
          <h4 class="modal-title">Are You Sure?</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="deleteConfirmed ()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- General Are You Sure Modal -->
  <div id="generalAreYouSureModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="generalAreYouSureTitle" class="modal-title">Name</p><br />
          <h4 class="modal-title">Are You Sure?</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="areYouSureAction()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="guestModeModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">Guest Mode!</p>
        </div>
        <div class="modal-body">
          <p>Sorry can't make changes in Guest Mode</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert Modal -->
  <div id="alertModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">
          <p id="alertModalText" class="modal-title">Text</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add To Playlist Modal -->
  <div id="addToPlaylistModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add to Playlist</h4><br />

        </div>
        <div class="modal-body">
          <p class="text-muted">Add</p>
          <p id="addToPlaylistTitle" class="modal-title">Name</p><br />
          <p class="text-muted">To playlist</p>
          <div class="btn-group">
            <a class="btn btn-default btn-block dropdown-toggle" id="addToPlaylistMenu" data-toggle="dropdown" href="#">Red
              <span class="caret"></span></a>
            <ul class="dropdown-menu" id="addToPlaylistDropdownUl">
              <li><a href="#">Red</a></li>
              <li><a href="#">Orange</a></li>
            </ul>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="addToPlaylistOK ()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Debug Modal -->
  <div id="debugModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Debug</h4><br />
        </div>
        <div class="modal-body">

          <div id="debugText">

          </div>


        </div>
        <div class="modal-footer">

          <!--
              <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" title="Logging Mode" id="loggingMenu" data-toggle="dropdown" href="#">Normal <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="setLogging('Normal')">Normal</a></li>
                  <li><a href="#" onclick="setLogging('File')">File</a></li>
                  <li><a href="#" onclick="setLogging('TV Off')">TV Off</a></li>
                </ul>
              </div>
    -->

          <!--					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <button type="button" class="btn btn-default" onclick="clearDebugModal()">Clear</button>
          <button type="button" class="btn btn-default" onclick="closeDebugModal()">Close</button>
          <!--					<button type="button" class="btn btn-default" onclick="refreshDebug()">Refresh</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Settings & Status Modal -->
  <div id="settingsModal" class="modal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Settings & Status</h4><br />
        </div>
        <div class="modal-body">
          <div id="settingsBody">

          </div>

          <table>
            <tbody>

              <!--							<tr>
                    <td>
                      <a class="btn btn-default btn-block" href="#" data-toggle="tooltip" title="Random Play On/Off" onclick="randomToggle()"><span id="randomIcon" class="glyphicon glyphicon-random" ></span></a>
                    </td>
                    <td class="col-sm-10" >Random On/Off</td>
                  </tr>
    -->
              <tr>
                <td>
                  <a class="btn btn-default btn-block" href="#" data-toggle="tooltip" title="Alpha Sort On/Off" onclick="alphaToggle()"><span
                      id="alphaIcon" class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                </td>
                <td class="col-sm-10">Alphanumeric Sorting On/Off</td>
              </tr>

              <tr>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" title="Compression Mode" id="compressionMenu"
                      data-toggle="dropdown" href="#">FLAC <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" onclick="setCompression('FLAC')">FLAC</a></li>
                      <li><a href="#" onclick="setCompression('MP3')">MP3</a></li>
                      <li><a href="#" onclick="setCompression('None')">None</a></li>
                    </ul>
                  </div>
                </td>
                <td class="col-sm-10">Compression Mode</td>
              </tr>

              <tr>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" title="Segue Mode" id="segueMenu" data-toggle="dropdown"
                      href="#">Off <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" onclick="setSegue('Off')">Off</a></li>
                      <li><a href="#" onclick="setSegue('On')">On</a></li>
                      <li><a href="#" onclick="setSegue('Short')">Short</a></li>
                    </ul>
                  </div>
                </td>
                <td class="col-sm-10">Segue Mode</td>
              </tr>

              <tr>
                <td>
                  <a class="btn btn-default btn-block" href="#" data-toggle="tooltip" title="Scan Disk" onclick="scanDisk()">Scan</a>
                </td>
                <td class="col-sm-10">Scan Disk</td>
              </tr>
              <!--							
                  <tr>
                    <td colspan="2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="webMode" onclick="webModeClick()"> Force mobile mode - for screen readers
                        </label>
                      </div>
                    </td>
                  </tr>
    -->
              <tr>
                <td colspan="2">
                  <div class="radio">
                    <label><input onclick="webModeClick()" type="radio" id="webModeAuto" name="webMode" value="normal"
                        checked>Automatic</label>
                    <label><input onclick="webModeClick()" type="radio" id="webModeMobile" name="webMode" value="mobile">Force
                      Mobile</label>
                    <label><input onclick="webModeClick()" type="radio" id="webModeDesktop" name="webMode" value="desktop">Force
                      Desktop</label>

                  </div>
                </td>
              </tr>


              <tr>
                <td class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="guestMode" onclick="guestModeClick()"> Guest Mode
                    </label>
                  </div>
                </td>
                <td class="col-sm-9">
                  <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" id="guestMenu" data-toggle="dropdown" href="#">Red
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="guestDropdownUl">
                      <li><a href="#">Red</a></li>
                      <li><a href="#">Orange</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="tvUi" onclick="tvUiClick()"> Enable TV UI
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="hdmi" onclick="HDMIClick()"> Audio on HDMI (TV)
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="vCache" onclick="vCacheClick()"> Enable Youtube Cache
                    </label>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Background</td>
                <td id="backgroundText" class="col-sm-10"></td>
              </tr>

            </tbody>
          </table>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!--					<button type="button" class="btn btn-default" onclick="refreshSettings ()">Refresh</button>-->
          <!--					<button type="button" class="btn btn-default" onclick="artTest ()">Art Test</button>-->
          <button type="button" class="btn btn-default" data-toggle="tooltip" title="B2 Debug Window" onclick="openDebugModal ()"><span
              class="glyphicon glyphicon-wrench"></span></button>
          <button type="button" class="btn btn-default" data-toggle="tooltip" title="Bluetooth" onclick="openBluetoothModal ()"><span>Bluetooth</span></button>
          <button type="button" class="btn btn-default" data-toggle="tooltip" title="B2 Image Viewer" onclick="openJBV ()"><span
              class="glyphicon glyphicon-camera"></span></button>
          <!--					<button type="button" class="btn btn-default" data-toggle="tooltip" title="Youtube" onclick="openBTube ()"><span class="glyphicon glyphicon-film" ></span></button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Bluetooth Modal -->
  <div id="bluetoothModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bluetooth <span id="bluetoothBusy"><img src="assets/images/ajax-loader.gif"></span></h4><br />
        </div>
        <div class="modal-body">
          <div id="bluetoothBody">

          </div>
          <a class="btn btn-default" href="#" data-toggle="tooltip" title="Update Paired Devices" onclick="listDevices()">Refresh
            Paired Devices</a>
          <a class="btn btn-default" href="#" data-toggle="tooltip" title="Scan" onclick="scanBluetooth()">Scan
            Bluetooth</a>
          <a class="btn btn-default" href="#" data-toggle="tooltip" title="Reset" onclick="resetBluetooth1()">Reset
            Bluetooth</a>
          <div class="checkbox">
            <label><input id="tandemBox" type="checkbox" onclick="tandemClick()">Bluetooth and wired speakers together</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="closeBluetoothModal ()">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>