<div class="container-fluid">

  <!-- handset UI -->
  <div id="handsetNav" class="row">
    <div class="well well-sm">
      <div class="col-md-4">
        <div class="btn-group">
          <a tabindex="-1" class="navbar-brand" href="#" aria-hidden="true">Brennan B2</a>
        </div>
        <div class="btn-group pull-right btn-group-right">

          <a id="selectedPanel" tabindex="0" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false" aria-label="Main Navigation - Now Playing Selected">
            Now Playing <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(0)">Now Playing</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(1)">Search</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(2)">vTuner</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(3)">Playlists</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(4)">CD</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(5)">Upload</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(6)">Presets</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(7)">Album</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(8)">Artist</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(9)">Youtube</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(10)">Settings</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="#" role="menuitem" onclick="pickPanel(11)">USB</a></li>
          </ul>
          <a tabindex="-1" href="#" role="button" class="btn btn-default" onclick="panelBackFunction()">Back</a>
        </div>
      </div>
    </div>
  </div>

  <div id="ColumnOne" class="col-xs-4">
    <div id="nowPlayingWell" class="well well-sm" ondragover="allowDrop(event)" ondrop="dropSpeaker(event)">
      <!--	<a class="col-sm-2 btn btn-default" href="#" title="Random On Off" onclick="randomToggle()"><span id="randomIcon" class="glyphicon glyphicon-random" ></span></a>-->
      <ul tabindex="-1" id="t1" class="nav nav-pills nav-stacked scrollBoxHeader">
        <li id="t2">
          <a class="col-sm-10" id="t3"><span class="text-muted">Source </span><span id="sourceHeader">Hard Disk</span></a>
          <a id="settingsButton" tabindex="-1" class="col-sm-2 btn btn-default" href="#" title="Settings & Status" role="button"
            onclick="openSettingsModal()"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
      </ul>
      <div class="panelContent" id="nowPlayingPanel">

        <div class="panel panel-default" data-toggle="tooltip" title="Drag items here to Play">

          <!--
          <div class="panel-body" id="nowPlayingBody"></div>
          -->

          <div class="panel-body">
            <div class="npInline col-sm-8" id="nowPlayingBody"></div>
            <div class="npInline col-sm-4" id="nowPlayingArt"><img src="assets/img/noimage.jpg" width="100%"></div>
          </div>
          <!--
          <div class="panel-body">
            <div class="npInline" id="nowPlayingBody"></div>
            <div class="npInline" id="nowPlayingArt"></div>
          </div>
          -->

        </div>

        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-default" data-toggle="tooltip" title="Tone Control" onclick="openToneControl ()"><span
              class="glyphicon glyphicon-music"></span></a>
          <a class="btn btn-default btn-block" href="#" data-toggle="tooltip" title="Random Play On/Off" onclick="randomToggle()"><span
              id="randomIcon" class="glyphicon glyphicon-random"></span></a>
          <a href="#" class="transportButton btn btn-default" title="Back button" value='back'><span class="glyphicon glyphicon-backward"></span></a>
          <a href="#" class="transportButton btn btn-default" title="Play Stop button" value='play' id="playbutton"><span
              class="glyphicon glyphicon-play"></span></a>
          <a href="#" class="transportButton btn btn-default" title="Next button" value='next'><span class="glyphicon glyphicon-forward"></span></a>
        </div>

        <div id=canvasBox>
          <canvas id="mycanvas" width="100%" height="60"></canvas>
        </div>

        <div class="panel panel-default" data-toggle="tooltip" title="Drag items here to Play">
          <div id="volumeSlider">
            <!--
            <input type="range" name="slider-1" id="slider-1" class="danielstern" min="0" max="64" value="32">
            -->
            <input type="range" title="Volume" name="slider-1" id="slider-1" class="danielstern" min="0" max="64" value="32">
          </div>
        </div>
      </div>
    </div>
    <div class="well well-sm">

      <div id="playlistTabs" class="btn-group btn-group-justified">
        <a id='playlistTab' class="btn btn-default" onclick="selectPlaylistSubPanel(0)">Playlists</a>
        <a id='CDTab' class="btn btn-default" onclick="selectPlaylistSubPanel(1)">CD</a>
        <a id='PresetsTab' class="btn btn-default" onclick="selectPlaylistSubPanel(2)">Presets</a>
        <a id='UploadTab' class="btn btn-default" onclick="selectPlaylistSubPanel(3)">Upload</a>
      </div>

      <div class="tab-content" id="panel1">

        <!-- Playlists -->
        <div id="playlistPanel" class="panelContent">
          <div class="scrollBoxHeader">
            <div id="playlistButtons" class="btn-group topButtons">
              <a tabindex="-1" class="btn btn-default dropdown-toggle" title="Select playlist" id="menu1" data-toggle="dropdown"
                href="#" draggable="true" ondragstart="dragPlaylist(event)">Playlist
                <span class="caret"></span></a>
              <!--				<a tabindex="-1" class="btn btn-default" href="#" data-toggle="tooltip" title="Play this playlist" onclick="playPlaylist ()">Play</a>-->
              <a tabindex="-1" class="btn btn-default" href="#" data-toggle="tooltip" title="Rename this playlist"
                onclick="renamePlaylist ()">Rename</a>
              <a tabindex="-1" class="btn btn-default" href="#" data-toggle="tooltip" title="Create a New Playlist"
                onclick="createPlaylist ()">New</a>
              <a tabindex="-1" class="btn btn-default" href="#" data-toggle="tooltip" title="Add or Subtract Playlists"
                onclick="mixPlaylist ()">Mix</a>
              <!--				<a tabindex="-1" class="btn btn-default" href="#" ondragover="allowDrop(event)" ondrop="dropBin(event)" data-toggle="tooltip" title="Drag playlist items here to remove from playlist"><span class="glyphicon glyphicon-trash" ></span></a>-->
              <a tabindex="-1" class="btn btn-default iconToggle" href="#" data-toggle="tooltip" title="Search Only Current Playlist"
                onclick="playlistFilterToggle()"><span class="glyphicon glyphicon-list myGrey" id='playlistCheckbox'></span></a>

              <ul class="dropdown-menu" id="playlistDropdownUl" role="menu">
                <li><a href="#">Red</a></li>
              </ul>
            </div>
          </div>
          <div class="ScrollBox" id="playlistContainer">
            <table class="table table-hover">
              <tbody id="playlistTbody">
                <tr>
                  <td>Empty</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- CD -->
        <div id="CDPanel" class="panelContent">
          <div id="cdTitleBar" class="panel panel-default">
            <div class="panel-heading">
              <div class="btn-group pull-right">
                <a href="#" class="btn btn-default" onclick="ripFunction()" data-toggle="tooltip" title="Rip CD"><span
                    class="glyphicon glyphicon-save"></span></a>
                <a href="#" class="btn btn-default transportButton" value='eject'><span class="glyphicon glyphicon-eject"></span></a>
                <a href="#" class="btn btn-default" onclick="getArtFunction()" data-toggle="tooltip" title="Get Album Art">Art</a>
              </div>
              <h4 id="cdstatus">status</h4>
            </div>
          </div>
          <div class="scrollBoxHeader" id="CDDBPanel">
            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" id="menu2" data-toggle="dropdown" href="#">CDDB <span class="caret"></span></a>
              <ul class="dropdown-menu" id="CDDBDropdownUl">
                <li><a href="#">Dark Side of The Moon</a></li>
              </ul>
            </div>
          </div>
          <div id="fetchingArt">
            <img src="assets/img/ajax-loader.gif">
          </div>
          <div id="cdbox">
          </div>
        </div>

        <!-- Upload -->
        <div id="UploadPanel" class="panelContent">
          <div>
            <div>
              <div>
                <div>
                  <div class="form-group">
                    <input id="uploadAlbum" type="text" class="form-control" placeholder="Type album name here">
                  </div>
                  <div class="form-group">
                    <input id="uploadArtist" type="text" class="form-control" placeholder="Type artist here">
                  </div>
                  <div class="form-group">
                    <input id="uploadFileSelect" type="file" class="form-control" multiple />
                  </div>
                  <div id="uploading">
                    <img src="assets/img/ajax-loader.gif"><span id="uploadProgress">&nbsp&nbsp&nbspSending Files</span>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-default" onclick="uploadCancelFunction()">Cancel</button>
                  <button type="button" class="btn btn-default" onclick="uploadFunction()">Send to B2</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Presets -->
        <div id="PresetsPanel" class="panelContent">
          <div class="ScrollBox collapse in" id="presetsBox">
            <table class="table table-hover">
              <tbody id="presets"></tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Rename Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 id="renameTitle" class="modal-title">Rename Track</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="renameValue" type="text" class="form-control" value="Initial Track Name">
          </div>
          <div id="renameArtist" class="form-group">
            <label for="renameSecondValue">Artist</label>
            <input id="renameSecondValue" type="text" class="form-control" value="Parent Artist">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="renameOKFunction()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Playlist Mix Modal -->
  <div id="mixModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 id="mixTitle" class="modal-title">Combine Playlists</h4>
        </div>
        <div class="modal-body">

          <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" id="mixMenu1" data-toggle="dropdown" href="#">Add
              <span class="caret"></span></a>
            <ul class="dropdown-menu" id="mixModeDropdownUl" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="pickMode(0)">Append</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="pickMode(1)">Subtract</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="pickMode(2)">Merge</a></li>
            </ul>
          </div>


          <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" id="mixMenu2" data-toggle="dropdown" href="#">Red
              <span class="caret"></span></a>
            <ul class="dropdown-menu" id="mixSourceDropdownUl">
              <li><a href="#">Red</a></li>
              <li><a href="#">Orange</a></li>
            </ul>
          </div>


          <div id="mixText">to Green</div>

          <div>
            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" id="mixMenu3" data-toggle="dropdown" href="#">Red
                <span class="caret"></span></a>
              <ul class="dropdown-menu" id="mixDestDropdownUl">
                <li><a href="#">Red</a></li>
                <li><a href="#">Orange</a></li>
              </ul>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="mixOKFunction()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Playlist Modal -->
  <div id="newPlaylistModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create a New Playlist</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="newPlaylistValue" type="text" class="form-control" placeholder="Playlist Name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="newPlaylistOKFunction()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Item Modal -->
  <div id="searchItemModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="searchItemTitle" class="modal-title">Search Item</p>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="searchItemDeleteButton()">Delete</button>
          <button type="button" class="btn btn-default btn-block" onclick="searchItemAddButton()">Add To Playlist</button>
          <button type="button" class="btn btn-default btn-block" onclick="searchItemRenameButton()">Rename</button>
          <button type="button" class="btn btn-default btn-block artButton" onclick="searchItemArt()">Get Art
            (Musicbrainz)</button>
          <button type="button" class="btn btn-default btn-block artButton" onclick="searchItemArt2()">Get Art (Amazon)</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <!--					<button type="button" class="btn btn-default">OK</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Album Art Modal -->
  <div id="albumArtModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="albumArtTitle">Album Art Search <span id="artSearching"> <img class="fit" src="assets/img/ajax-loader.gif"></span></p>
          <p id="albumArtArtist"></p>
          <p id="albumArtAlbum"></p>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <tbody id="albumArtResultsTable"></tbody>
          </table>
          <p id="albumArtBottomLine"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Playlist Item Modal -->
  <div id="playlistItemModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <p id="playlistItemTitle" class="modal-title">Playlist Item</p>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemDeleteButton()">Delete</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemStartButton()">Move to start</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemEndButton()">Move to end</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemUpButton()">Move up</button>
          <button type="button" class="btn btn-default btn-block" onclick="playlistItemDownButton()">Move down</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Finished</button>
          <!--					<button type="button" class="btn btn-default">OK</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- vTuner Search Item Menu Modal -->
  <div id="vTunerSearchMenuModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p id="vTunerSearchMenuTitle" class="modal-title">Search Item</p>
        </div>
        <div class="modal-body" id="vTunerSearchMenuBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- vTuner Item Menu Modal -->
  <div id="vTunerItemMenuModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p id="vTunerItemMenuTitle" class="modal-title">Search Item</p>
        </div>
        <div class="modal-body" id="vTunerItemMenuBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tone Control Modal -->
  <div id="toneModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">Tone Control</p>
        </div>
        <div class="modal-body">
          <h3>Bass</h3>
          <input type="range" title="Bass" name="bassSlider" id="bassSlider" min="-6" max="6" value="0">
          <h3>Treble</h3>
          <input type="range" title="Treble" name="trebleSlider" id="trebleSlider" min="-6" max="6" value="0">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Are You Sure Modal -->
  <div id="areYouSureModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <br />
          <p id="areYouSureTitle" class="modal-title">Name</p>
          <br />
          <h4 class="modal-title">Are You Sure?</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="deleteConfirmed ()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- General Are You Sure Modal -->
  <div id="generalAreYouSureModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p id="generalAreYouSureTitle" class="modal-title">Name</p>
          <br />
          <h4 class="modal-title">Are You Sure?</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-block" onclick="areYouSureAction()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="guestModeModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">Guest Mode!</p>
        </div>
        <div class="modal-body">
          <p>Sorry can't make changes in Guest Mode</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert Modal -->
  <div id="alertModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">
          <p id="alertModalText" class="modal-title">Text</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add To Playlist Modal -->
  <div id="addToPlaylistModal" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add to Playlist</h4>
          <br />
        </div>
        <div class="modal-body">
          <p class="text-muted">Add</p>
          <p id="addToPlaylistTitle" class="modal-title">Name</p>
          <br />
          <p class="text-muted">To playlist</p>
          <div class="btn-group">
            <a class="btn btn-default btn-block dropdown-toggle" id="addToPlaylistMenu" data-toggle="dropdown" href="#">Red
              <span class="caret"></span></a>
            <ul class="dropdown-menu" id="addToPlaylistDropdownUl">
              <li><a href="#">Red</a></li>
              <li><a href="#">Orange</a></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" onclick="addToPlaylistOK ()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div id="ColumnTwo" class="col-xs-4">

    <div class="well well-sm" id="middleWell">

      <!-- Tab Buttons: SearchTab, vTunerTab, YoutubeTab, USBTab -->
      <div id="searchTabs" class=" btn-group btn-group-justified">
        <a id='SearchTab' class=" btn btn-default " onclick=" selectSearchSubPanel(0) "><span class="glyphicon glyphicon-search "></span></a>
        <a id='VTunerTab' class=" btn btn-default " onclick=" selectSearchSubPanel(1)">vTuner</a>
        <a id='YoutubeTab' class=" btn btn-default " onclick=" selectSearchSubPanel(2) " data-toggle="tooltip" title=" Experimental ">Youtube*</a>
        <a id='USBTab' class=" btn btn-default " onclick="selectSearchSubPanel(3)">USB</a>
      </div>

      <!-- Tab Content: Search, vTuner, Youtube, USB -->
      <div class=" tab-content " id="panel2">

        <!-- Search -->
        <div id=" SearchPanel " class=" panelContent tab-pane ">
          <div id="searchButtons" class="input-group scrollBoxHeader topButtons">
            <div>
              <!--
              <input type=" text " id=" searchInput " class="form-control " size=" 6 " placeholder=" Search B2 " onkeyup=" searchFunction() ">
              -->
              <input type=" text " id="searchInput " class=" form-control " size=" 6 " placeholder="Search B2" onkeyup=" searchFunction()">
            </div>
            <div class=" input-group-btn ">
              <!--
              <a tabindex=" -1 " class=" btn btn-default iconToggle" href=" # " data-toggle=" tooltip " title=" Search Only Current Playlist "><span class=" glyphicon      glyphicon-list myGrey " id='playlistCheckbox'></span></a>
              -->
              <a tabindex=" -1 " class=" btn btn-default iconToggle" href=" # " title=" Artists toggle ">
                <span class=" glyphicon glyphicon-user" id='artistCheckbox'></span>
              </a>
              <a tabindex=" -1 " class=" btn btn-default iconToggle " href=" # " title="Albums toggle">
                <span class=" glyphicon glyphicon-cd " id='albumCheckbox'></span>
              </a>
              <a tabindex="-1" class=" btn btn-default iconToggle " href=" # " title=" Tracks toggle ">
                <span class=" glyphicon glyphicon-music" id='trackCheckbox'></span>
              </a>
              <a tabindex=" -1 " class=" btn btn-default iconToggle " href=" # " title="Radio Stations toggle ">
                <span class=" icon-radioMast" id='radioCheckbox'></span>
              </a>
            </div>
          </div>
          <div class=" SearchScrollBox " id=" SearchContainer">
            <table class=" table table-hover ">
              <tbody id="Results"></tbody>
            </table>
          </div>
        </div>

        <!-- vTuner -->
        <div id=" VTunerPanel " class=" panelContent tab-pane">
          <div class=" scrollBoxHeader ">
            <div id=" vTunerButtons " class=" btn-group topButtons ">
              <a href="#" data-toggle=" tooltip " title=" Go Back " class=" btn btn-default " onclick="vTunerGoBack()">Back</a>
              <a href=" # " data-toggle=" tooltip " title=" World " class=" btn btn-default " onclick="vTunerInit()">Top</a>
            </div>
          </div>
          <div class=" vTunerScrollBox " id=" vTunerBox ">
            <table class=" table table-hover ">
              <tbody id=" vTunerTable " role=" list " aria-label=" vTuner categories"></tbody>
            </table>
          </div>
          <div style=" height:10px; "></div>
          <div class=" input-group scrollBoxHeader">
            <input type=" text " id=" vTunerSearchInput " class=" form-control " size=" 6 " placeholder=" Search vTuner"
              onkeydown=" if (event.keyCode==1 /*3*/) vTunerSearch () ">
            <div class=" input-group-btn ">
              <a class=" btn btn-default " onclick=" vTunerSearch () " href=" # ">
                <span class=" glyphicon glyphicon-search"></span>
              </a>
            </div>
          </div>

          <div class=" vTunerScrollBox " id=" vTunerSearchBox ">
            <table class=" table table-hover ">
              <tbody id=" vTunerMatches "></tbody>
            </table>
          </div>
        </div>

        <!-- Youtube -->
        <div id="YoutubePanel" class=" panelContent tab-pane ">
          <div class=" input-group scrollBoxHeader topButtons " id="youtubeSearchBar">
            <div>
              <input id=" bTubeSearchValue " onkeydown=" if (event.keyCode==1 /*3*/) youtubeGo ()" type=" text " class=" form-control "
                placeholder=" Text search or Youtube url or id ">
            </div>
            <div class="input-group-btn">
              <button type=" button " class=" btn btn-default " onclick=" youtubeGo()">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>

          <div class="panel panel-default">
            <div class=" panel-heading " id=" youtubeSearchHeading ">Search results <span id="youtubeSearching"> <img
                  class=" fit " src="assets/img/ajax-loader.gif"></span>
            </div>
            <div class="panel-body vTunerScrollBox" id=" YoutubeSearchResultsBox ">
              <table class=" table table-hover ">
                <tbody id="youtubeSearchResultsTable "></tbody>
              </table>
            </div>
          </div>
          <div class=" panel panel-default ">
            <div class=" panel-heading ">History <span id=" youtubeStarting "> <img class=" fit " src="assets/img/ajax-loader.gif"></span></div>
            <div class=" panel-body vTunerScrollBox " id=" YoutubeHistoryBox">
              <table class=" table table-hover ">
                <tbody id=" youtubeHistoryTable"></tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- USB -->
        <div id=" USBPanel " class="panelContent tab-pane ">
          <ol class=" breadcrumb topButtons " id=" USBBreadcrumb ">
            <li class=" breadcrumb-item" id=" USBPath "></li>
          </ol>
          <div id=" USBButtons " class=" btn-group ">
            <button type=" button " class="btn btn-default" data-toggle="tooltip" title="Up to parent folder " onclick=" usbUp ()">Up</button>
            <button type=" button " class="btn btn-default" data-toggle="tooltip" title="Select USB A" onclick=" usbA () ">USB
              A</button>
            <button type=" button " class="btn btn-default" data-toggle="tooltip" title=" Select USB C " onclick=" usbC () ">USB
              C</button>
          </div>
          <div class=" panel-body USBScrollBox" id=" USBItemsBox ">
            <table class=" table table-hover ">
              <tbody id=" USBItems"></tbody>
            </table>
          </div>
          <ol class=" breadcrumb ">
            <li class=" breadcrumb-item " id=" USBBackgroundText"></li>
          </ol>
        </div>
      </div>

    </div>


  </div>

  <div id=" ColumnThree " class=" col-xs-4 ">

    <div id="  ArtistWell " class=" well well-sm ">

      <!-- Artist -->
      <div id=" ArtistPanel ">

        <ul class=" nav nav-pills nav-stacked scrollBoxHeader " id=" artistHeader ">
          <li><a><span class=" text-muted ">Artist </span><span id="artistname ">None Selected</span></a></li>
        </ul>

        <div class=" panelContent ArtistScrollBox ">
          <nav id="ArtistAlbumsBox ">
            <table class=" table table-hover ">
              <tbody id=" ArtistAlbums"></tbody>
            </table>
          </nav>
        </div>
      </div>
    </div>

    <div id=" AlbumWell " class=" well well-sm">

      <!-- Album -->
      <div id=" AlbumPanel ">

        <ul class=" nav nav-pills nav-stacked scrollBoxHeader " id="
      albumHeader " onClick=" clickArt() "
          ondragover=" allowDrop(event) " ondrop=" dropArt(event) " onpaste="
      pasteArt(event) " data-toggle=" tooltip "
          title=" Drag Artwork here or click image to open upload panel
      ">

          <li>
            <a class=" middle ">
              <div class=" npInline w80 "><span class=" text-muted
      ">Album </span><span id=" albumname ">None
                  Selected</span></div>
              <div class=" npInline w20 "><img id="
      albumImage "></div>
            </a>

            <!--					<a><span class=" text-muted ">Album </span><span id=" albumname
      ">None Selected</span><img id=" albumImage " class=" pull-right "></a>-->
            <!--					<a class=" col-sm-10
      "><span class=" text-muted ">Album </span><span id=" albumname
      ">None Selected</span></a>-->


          </li>

        </ul>

        <div class=" panelContent ArtistScrollBox ">
          <nav id="
      AlbumTracksBox ">
            <table class=" table table-hover ">
              <tbody id=" AlbumTracks
      "></tbody>
            </table>
          </nav>
        </div>

      </div>
    </div>

  </div>

  <!-- Debug Modal -->
  <div id=" debugModal
      " class=" modal " role=" dialog ">
    <div class=" modal-dialog modal-lg ">

      <div class=" modal-content
      ">
        <div class=" modal-header ">
          <h4 class=" modal-title ">Debug</h4><br />
        </div>
        <div class="
      modal-body ">

          <div id=" debugText ">

          </div>


        </div>
        <div class=" modal-footer
      ">

          <!--
    <div class=" btn-group ">
      <a class=" btn btn-default dropdown-toggle " title=" Logging
      Mode " id=" loggingMenu " data-toggle=" dropdown " href=" # ">Normal <span class=" caret
      "></span></a>
      <ul class=" dropdown-menu ">
        <li><a href=" # " onclick=" setLogging( 'Normal' )
      ">Normal</a></li>
        <li><a href=" # " onclick=" setLogging( 'File' ) ">File</a></li>
        <li><a href="
      # " onclick=" setLogging( 'TV Off' )
      ">TV Off</a></li>
      </ul>
    </div>
-->

          <!--					<button type=" button " class=" btn btn-default
      " data-dismiss=" modal ">Close</button>-->
          <button type=" button " class=" btn btn-default " onclick="
      clearDebugModal() ">Clear</button>
          <button type=" button " class=" btn btn-default " onclick="
      closeDebugModal() ">Close</button>
          <!--					<button type=" button " class=" btn btn-default " onclick="
      refreshDebug() ">Refresh</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Settings & Status Modal -->
  <div id="
      settingsModal " class=" modal " role=" dialog ">
    <div class=" modal-dialog ">

      <div class=" modal-content
      ">
        <div class=" modal-header ">
          <h4 class=" modal-title
      ">Settings & Status</h4><br />
        </div>
        <div class=" modal-body ">
          <div id=" settingsBody
      ">

          </div>

          <table class=" table ">
            <tbody>

              <!--							<tr>
          <td>
            <a class="
      btn btn-default btn-block " href=" # " data-toggle=" tooltip " title=" Random Play On/Off " onclick="
      randomToggle() "><span id=" randomIcon " class=" glyphicon glyphicon-random
      " ></span></a>
          </td>
          <td class=" col-sm-10
      " >Random On/Off</td>
        </tr>
-->
              <tr>
                <td>
                  <a class=" btn btn-default
      btn-block " href=" # " data-toggle=" tooltip " title=" Alpha Sort On/Off "
                    onclick=" alphaToggle() "><span id="
      alphaIcon " class=" glyphicon glyphicon-sort-by-alphabet "></span></a>
                </td>
                <td class="
      col-sm-10
      ">Alphanumeric Sorting On/Off</td>
              </tr>

              <tr>
                <td>
                  <div class="
      btn-group ">
                    <a class=" btn btn-default dropdown-toggle " title=" Compression Mode " id="
      compressionMenu "
                      data-toggle=" dropdown " href=" # ">FLAC <span class=" caret
      "></span></a>
                    <ul class=" dropdown-menu ">
                      <li><a href=" # " onclick="
      setCompression( 'FLAC' ) ">FLAC</a></li>
                      <li><a href=" # " onclick=" setCompression( 'MP3' )
      ">MP3</a></li>
                      <li><a href=" # " onclick=" setCompression( 'None' )
      ">None</a></li>
                    </ul>
                  </div>
                </td>
                <td class="
      col-sm-10 ">Compression Mode</td>
              </tr>

              <tr>
                <td>
                  <div class=" btn-group
      ">
                    <a class=" btn btn-default dropdown-toggle " title=" Segue Mode " id=" segueMenu " data-toggle="
      dropdown "
                      href=" # ">Off <span class=" caret "></span></a>
                    <ul class=" dropdown-menu
      ">
                      <li><a href=" # " onclick=" setSegue( 'Off' ) ">Off</a></li>
                      <li><a href=" #
      " onclick=" setSegue( 'On' ) ">On</a></li>
                      <li><a href=" # " onclick=" setSegue( 'Short' )
      ">Short</a></li>
                    </ul>
                  </div>
                </td>
                <td class="
      col-sm-10 ">Segue Mode</td>
              </tr>

              <tr>
                <td>
                  <a class=" btn btn-default
      btn-block " href=" # " data-toggle=" tooltip " title=" Scan Disk "
                    onclick=" scanDisk()
      ">Scan</a>
                </td>
                <td class=" col-sm-10
      ">Scan Disk</td>
              </tr>
              <!--							
        <tr>
          <td colspan=" 2 ">
            <div class="
      checkbox ">
              <label>
                <input type=" checkbox " id=" webMode " onclick="
      webModeClick()
      "> Force mobile mode - for screen readers
              </label>
            </div>
          </td>
        </tr>
-->
              <tr>
                <td colspan="
      2 ">
                  <div class=" radio ">
                    <label><input onclick=" webModeClick() " type=" radio " id="
      webModeAuto " name=" webMode "
                        value=" normal " checked>Automatic</label>
                    <label><input onclick="
      webModeClick() " type=" radio " id=" webModeMobile " name=" webMode "
                        value=" mobile
      ">Force Mobile</label>
                    <label><input onclick=" webModeClick() " type=" radio " id=" webModeDesktop
      " name=" webMode "
                        value=" desktop
      ">Force Desktop</label>

                  </div>
                </td>
              </tr>


              <tr>
                <td class="
      col-sm-3 ">
                  <div class=" checkbox ">
                    <label>
                      <input type=" checkbox
      " id=" guestMode " onclick=" guestModeClick()
      "> Guest Mode
                    </label>
                  </div>
                </td>
                <td class=" col-sm-9
      ">
                  <div class=" btn-group ">
                    <a class=" btn btn-default dropdown-toggle " id="
      guestMenu " data-toggle=" dropdown " href=" # ">Red
                      <span class=" caret"></span></a>
                    <ul class=" dropdown-menu " id=" guestDropdownUl ">
                      <li><a href="#">Red</a></li>
                      <li><a href="#">Orange</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="
      2 ">
                  <div class=" checkbox ">
                    <label>
                      <input type=" checkbox " id="
      tvUi " onclick=" tvUiClick()
      "> Enable TV UI
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="checkbox">
                    <label>
                      <input type=" checkbox " id="hdmi" onclick="HDMIClick()"> Audio on HDMI (TV)
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="vCache" onclick="vCacheClick()"> Enable Youtube Cache
                    </label>
                  </div>
                </td>
              </tr>

              <tr>
                <td>Background</td>
                <td id="backgroundText " class=" col-sm-10"></td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- Buttons: Close, Debug, JBV -->
        <div class="modal-footer">
          <button type=" button " class=" btn btn-default " data-dismiss=" modal">Close</button>
          <!--
          <button type=" button " class=" btn btn-default " onclick=" refreshSettings ()">Refresh</button>
          -->
          <!--
          <button type=" button " class=" btn btn-default " onclick=" artTest ()">Art Test</button>
          -->
          <button type=" button " class=" btn btn-default " data-toggle=" tooltip " title="B2 Debug Window" onclick=" openDebugModal () "><span
              class=" glyphicon glyphicon-wrench"></span></button>
          <button type=" button " class=" btn btn-default " data-toggle=" tooltip " title="Bluetooth " onclick=" openBluetoothModal () "><span>Bluetooth</span></button>
          <button type=" button " class=" btn btn-default " data-toggle=" tooltip " title=" B2 Image Viewer " onclick=" openJBV () "><span
              class="glyphicon glyphicon-camera "></span></button>
          <!--
          <button type=" button " class=" btn btn-default" data-toggle=" tooltip " title=" Youtube " onclick=" openBTube () "><span class=" glyphicon glyphicon-film" ></span></button>
          -->
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bluetooth Modal -->
<div id=" bluetoothModal
      " class=" modal " role=" dialog ">
  <div class=" modal-dialog ">

    <div class=" modal-content ">
      <div class="
      modal-header ">
        <h4 class=" modal-title ">Bluetooth <span id=" bluetoothBusy "><img src="assets/img/ajax-loader.gif"></span></h4><br />
      </div>
      <div class=" modal-body ">
        <div id=" bluetoothBody">

        </div>
        <a class=" btn btn-default " href=" # " data-toggle=" tooltip " title=" Update Paired Devices
      " onclick=" listDevices() ">Refresh
          Paired Devices</a>
        <a class=" btn btn-default " href=" # " data-toggle="
      tooltip " title=" Scan " onclick=" scanBluetooth() ">Scan
          Bluetooth</a>
        <a class=" btn btn-default " href=" #
      " data-toggle=" tooltip " title=" Reset " onclick=" resetBluetooth1() ">Reset
          Bluetooth</a>
        <div class="
      checkbox "><label>
            <input id=" tandemBox " type=" checkbox " onclick=" tandemClick()
      ">Bluetooth and wired speakers
            together
          </label></div>

      </div>
      <div class=" modal-footer
      ">
        <button type=" button " class=" btn btn-default " onclick=" closeBluetoothModal ()
      ">Close</button>
      </div>
    </div>
  </div>
</div>
