<div id="playlistTabs" class="btn-group btn-group-justified" *ngIf="!isMobile">
    <a id='playlistTab' class="btn btn-default" (click)="onSelectSubPanel(0)">Playlists</a>
    <a id='CDTab' class="btn btn-default" (click)="onSelectSubPanel(1)">CD</a>
    <a id='PresetsTab' class="btn btn-default" (click)="onSelectSubPanel(2)">Presets</a>
    <a id='UploadTab' class="btn btn-default" (click)="onSelectSubPanel(3)">Upload</a>
</div>
<brennan-playlist-panel *ngIf='subPanel == 0'></brennan-playlist-panel>
<brennan-disc *ngIf='subPanel == 1'></brennan-disc>
<brennan-presets *ngIf='subPanel == 2'></brennan-presets>
<brennan-upload *ngIf='subPanel == 3'></brennan-upload>