<div id="searchTabs" class="btn-group btn-group-justified">
    <a id='SearchTab' class="btn btn-default" (click)="selectSearchSubPanel(0)">
        <span class="glyphicon glyphicon-search  {{searchSubPanel == 0 | toggleEnabled}}"></span>
    </a>
    <a id='VTunerTab' class="btn btn-default" (click)="selectSearchSubPanel(1)">vTuner</a>
    <a id='YoutubeTab' class="btn btn-default" (click)="selectSearchSubPanel(2)" data-toggle="tooltip" title="Experimental">Youtube*</a>
    <a id='USBTab' class="btn btn-default" (click)="selectSearchSubPanel(3)">USB</a>
</div>
<brennan-search-hdd *ngIf='searchSubPanel == 0'></brennan-search-hdd>
<brennan-vtuner *ngIf='searchSubPanel == 1'></brennan-vtuner>
<brennan-youtube *ngIf='searchSubPanel == 2'></brennan-youtube>
<brennan-usb *ngIf='searchSubPanel == 3'></brennan-usb>