@import "styles-variables";
@import "styles-icons";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';


.brennan-toggle-on {
	color: #FFF;
}

.brennan-toggle-off {
	color: #888;
}

.brennan-toggle-undefined {
	color: #F00;
}
