<div id="SearchPanel" class="panelContent tab-paneDGH">
    <div id="searchButtons" class="input-group scrollBoxHeader topButtons">
        <div>
            <input type="text" id="searchInput" class="form-control" size="6" placeholder="Search B2" onkeyup="searchFunction()">
        </div>
        <div class="input-group-btn">
            <!--				<a tabindex="-1" class="btn btn-default iconToggle" href="#" data-toggle="tooltip" title="Search Only Current Playlist"><span class="glyphicon glyphicon-list myGrey" id='playlistCheckbox'></span></a>-->
            <a tabindex="-1" class="btn btn-default iconToggle" href="#" title="Artists toggle"><span class="glyphicon glyphicon-user"
                    id='artistCheckbox'></span></a>
            <a tabindex="-1" class="btn btn-default iconToggle" href="#" title="Albums toggle"><span class="glyphicon glyphicon-cd"
                    id='albumCheckbox'></span></a>
            <a tabindex="-1" class="btn btn-default iconToggle" href="#" title="Tracks toggle"><span class="glyphicon glyphicon-music"
                    id='trackCheckbox'></span></a>
            <a tabindex="-1" class="btn btn-default iconToggle" href="#" title="Radio Stations toggle"><span class="icon-radioMast"
                    id='radioCheckbox'></span></a>
        </div>
    </div>
    <div class="SearchScrollBox" id="SearchContainer">
        <table class="table table-hover">
            <tbody id="Results"></tbody>
        </table>
    </div>
</div>