<ngb-tabset [justify]="fill" type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle>
            <span class="glyphicon glyphicon-search"></span>
        </ng-template>
        <ng-template ngbTabContent>
            <brennan-search-hdd></brennan-search-hdd>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="vTuner">
        <ng-template ngbTabContent>
            <brennan-vtuner></brennan-vtuner>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="YouTube">
        <ng-template ngbTabContent>
            <brennan-youtube></brennan-youtube>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="USB">
        <ng-template ngbTabContent>
            <brennan-usb></brennan-usb>
        </ng-template>
    </ngb-tab>
</ngb-tabset>