<div id="nowPlayingWell" class="well well-sm" ondragover="allowDrop(event)" ondrop="dropSpeaker(event)">
    <!--	<a class="col-sm-2 btn btn-default" href="#" title="Random On Off" onclick="randomToggle()"><span id="randomIcon" class="glyphicon glyphicon-random" ></span></a>-->
    <ul tabindex="-1" id="t1" class="nav nav-pills nav-stacked scrollBoxHeader">
        <li id="t2">
            <a class="col-sm-10" id="t3">
                <span class="text-muted">Source&nbsp;</span>
                <span id="sourceHeader">{{source}}&nbsp;{{playing | playingToText}}</span>
            </a>
            <a id="settingsButton" tabindex="-1" class="col-sm-2 btn btn-default" href="#" title="Settings & Status"
                role="button" onclick="openSettingsModal()"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
    </ul>
    <div class="panelContent" id="nowPlayingPanel">

        <!-- Now Playing Information -->
        <div class="panel panel-default" data-toggle="tooltip" title="Drag items here to Play">
            <div class="panel-body">
                <div class="npInline col-sm-8" id="nowPlayingBody">
                    <h6 class="mylink" draggable="true" ondragstart="dragNowPlayingTrack (event)" onclick="nowPlayingTrackClick()">
                        <span class="glyphicon glyphicon-music"></span>&nbsp;{{track}}
                    </h6>
                    <h6 class="mylink" draggable="true" ondragstart="dragNowPlayingArtist (event)" onclick="nowPlayingArtistClick()">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;{{artist}}
                    </h6>
                    <h6 class="mylink" draggable="true" ondragstart="dragNowPlayingAlbum (event)" onclick="nowPlayingAlbumClick()">
                        <span class="glyphicon glyphicon-cd"></span>&nbsp;{{album}}
                    </h6>
                    <h6 id="timeLeft">Time left:&nbsp;{{timeLeft}}</h6>
                </div>
                <div class="npInline col-sm-4" id="nowPlayingArt">
                    <img #currentArt src="assets/images/noimage.jpg" width="100%">
                </div>
            </div>
        </div>

        <!-- CD Control Buttons -->
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default" data-toggle="tooltip" title="Tone Control" onclick="openToneControl ()">
                <span class="glyphicon glyphicon-music"></span>
            </a>
            <a class="btn btn-default btn-block" href="#" data-toggle="tooltip" title="Random Play On/Off" onclick="randomToggle()">
                <span id="randomIcon" class="glyphicon glyphicon-random"></span>
            </a>
            <a href="#" class="transportButton btn btn-default" title="Back button" (click)="onBack()">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
            <a href="#" class="transportButton btn btn-default" title="Play Stop button" (click)="onPausePlay()">
                <span class="{{playing | playingToClass}}"></span>
            </a>
            <a href="#" class="transportButton btn btn-default" title="Next button" (click)="onNext()">
                <span class="glyphicon glyphicon-forward"></span>
            </a>
        </div>

        <!-- Time Series -->
        <div id=canvasBox>
            <canvas id="mycanvas" width="100%" height="60"></canvas>
        </div>

        <!-- Volume Control Slider -->
        <div class="panel panel-default" data-toggle="tooltip" title="Drag items here to Play">
            <div id="volumeSlider">
                <input #volumeInput type="range" title="Volume" min="0" max="64" value="{{volume}}" (input)="onInputVolume()" (change)="onChangeVolume()">
            </div>
        </div>
    </div>
</div>